---
import Pill from "./Pill.astro";
const {title,description,tags,urlImage,linkPagina,linkRepo} = Astro.props;
const classNameLinks = "border border-gray-500 rounded-xl px-3 py-1 transition-all duration-2 hover:bg-[#181818] text-sm xl:text-base md:text-xl"
---

<div class="flex flex-col min-w-[95%] xl:w-[65%] xl:min-w-[65%] md:w-[90%] md:min-w-[87%]">
    <h1 class="text-[var(--colorPrincipal)] font-bold text-2xl xl:text-3xl md:text-4xl">{title}</h1>
    <p class=" py-2 text-lg text-white xl:text-base md:text-xl">{description}</p>
    <div class="grid grid-cols-2 xl:grid-cols-4 md:grid-cols-4 gap-4 place-items-center mb-3">
        {tags.map(tag => <Pill className={tag.className} url={tag.url} name={tag.name}/>)}
    </div>
    <img src={urlImage} alt="" class="rounded-lg">
    <div class="flex justify-center items-center gap-4 mt-3">
        <a href={linkRepo} class={classNameLinks} target="_blank"><i class="bi bi-github"></i> Repositorio</a>
        <a href={linkPagina} class={classNameLinks} target="_blank"><i class="bi bi-browser-firefox text-[#ce6b28]"></i> Pagina</a>
    </div>
</div>