---
import proyects from "../constants/Proyects.js"
import ItemProyects from "./ItemProyects.astro"
---

<section class="mt-56 my-0 mx-auto w-[60%] scrollLinkProyect" id="proyectos">
    <h1 class="font-bold text-4xl pb-10"><i class="bi bi-briefcase-fill"></i> Proyectos</h1>
    <div class="overflow-x-auto scrollItem">
        <div class="flex justify-start gap-9 pb-6">
            {proyects.map(proy => <ItemProyects title={proy.title} description={proy.description} tags={proy.technologies} urlImage={proy.urlImage} linkPagina={proy.linkPagina} linkRepo={proy.linkRepositorio}/>)}
        </div>
    </div>
    <div class="mt-5 flex justify-center items-center">
        <a href="https://github.com/JairAle25" target="_blank" class="border border-gray-500 rounded-xl px-3 py-1 transition-all duration-2 hover:bg-[#181818]"><i class="bi bi-github"></i> Ver Mas</a>
    </div>
</section>

<style>
    .scrollItem::-webkit-scrollbar {
        width: 10px;
        height: 13px;
        margin-top: 2rem;
    }
    .scrollItem::-webkit-scrollbar-thumb {
        background-color: var(--colorPrincipal);
        border-radius: 5px; 
    }

    .scrollItem::-webkit-scrollbar-track {
        background-color: black;
        border-radius: 5px;
    }
</style>